<% if flash[:notice] %>
<div class="notice"><%= flash[:notice] %></div>
<% end %>

<div class="pure-g">
  <div class="pure-u-1-1">
    <div class="title-searchbar">
      <h1><%= link_to("RecipeMiner", "/") %></h1>
      <div class="searchbar">
        <%= form_tag("/search", method: "get", class: "pure-form") do %>
          <%= search_field_tag("search", "", class: "pure-form") %>
      </div>
      <div class="submit-button">
          <%= submit_tag("Search", class: "pure-button pure-button-primary") %>
        <% end %>
      </div>
    </div>

    <br><br>
    <div class="results-section">
      <% if @recipes %>
        <% @recipes.each do |recipe| %>
          <div class="recipe-panel">
            <a href="<%= recipe.recipe_url %>" title="<%= recipe.title %>" alt="<%= recipe.title %>">
              <div class="link-div">

                <div class="recipe-image">
                  <img src="<%= recipe.image_url %>" alt="<%= recipe.title %> image" >
                </div>

                <div class="recipe-info">

                  <div class="recipe-title">
                    <%= recipe.display_title %>
                  </div>

                  <div class="recipe-rating">
                    <% if recipe.rating_value && recipe.rating_count  %>
                      <%= image_tag("star.png") %>
                      Rating: <%= recipe.rating_value %>/5 <em>(<%= recipe.rating_count %> votes)</em>
                    <% end  %>
                  </div>

                  <div class="recipe-total-time">
                    <% if recipe.total_time  %>
                      Total Time: <%= recipe.human_readable_time %>
                    <% end %>
                  </div>

                </div>

              </div>
            </a>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
