<% if flash[:notice] %>
<div class="notice"><%= flash[:notice] %></div>
<% end %>

<div class="pure-menu pure-menu-horizontal header">
    <!-- <a href="#" class="pure-menu-heading pure-menu-link">BRAND</a> -->
    <ul class="pure-menu-list">
<!--         <li class="pure-menu-item"><a href="#" class="pure-menu-link">News</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sports</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Finance</a></li> -->
    </ul>
</div>

<div class="pure-g">
  <div class="pure-u-1-1">
    <div class="title-searchbar">
      <h1><%= link_to("RecipeMiner", "/") %></h1>
      <div class="searchbar">
        <%= form_tag("/search", method: "get", class: "pure-form") do %>
          <%= search_field_tag("search", "", class: "pure-form") %>
      </div>
      <div class="submit-button">
          <%= submit_tag("Search", class: "pure-button pure-button-primary") %>
        <% end %>
      </div>
    </div>
  </div>
</div>

